/* *****************************************************************************

  page styles

***************************************************************************** */

#center {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translateX(-50%) translateY(-50%);
  width: calc(100vw - 8vmin);
}

.text {
  font-size: x-large;
  padding-bottom: 2vmin;
  display: flex;
  justify-content: center;
}

#browsertext {
  margin-bottom: 3vmin;
  font-size: xxx-large;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-auto-rows: 100px;
  max-width: 500px;
  margin: auto;
}

.wrapper .browser {
  display: flex;
  margin: auto;
  height: 70px;
  width: 70px;
  filter: grayscale(100%);
  position: relative;
  background-repeat: no-repeat;
  background-size: 70px 70px;
}

.wrapper .browser.active {
  filter: grayscale(0%);
}

.wrapper .chrome {
  background-image: url('icon/chrome.png');
}

.wrapper .edge {
  background-image: url('icon/edge.png');
}

.wrapper .firefox {
  background-image: url('icon/firefox.png');
}

.wrapper .msie {
  background-image: url('icon/msie.png');
}

.wrapper .opera {
  background-image: url('icon/opera.png');
}

.wrapper .safari {
  background-image: url('icon/safari.png');
}

.agent {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

/* remove arrow */
details summary::-webkit-details-marker {
  display: none;
}

summary.agent {
  /* safari refuses both - maybe later */
  text-decoration: underline;
  text-decoration-line: underline;
}

summary.agent:hover {
  text-decoration: underline;
  text-decoration-line: underline;
  cursor: pointer;
}
